
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;

body{
    background-color: $bgColor;
    color: $fontColor;
    font-family: 'Montserrat Alternates', sans-serif;
}
a{
    font-size: 18px;
    color: $fontColor;
    text-decoration: none;
}
a:hover{
    color: $lightBgColor;
}
.brdr{
    position:relative;
   ::before{
        content: "";
        position: absolute;
        top: 10%;
        height: 1px;
        width: 25%;
        background-color: $borderColor;
    } 
    & ::after{
        content: "";
        position: absolute;
        top: 30%;
        left: 0;
        height: 1px;
        width: 25%;
        background-color: $borderColor;
        margin-top: 50%;
    }
    & p{
       color: $secondFontColor;     
    }
}
.vote{
    position: absolute;
    top: 0;
    left: 10px;
    background-color:$lightBgColor;
    padding: 5px;
}
